footer{
    hr{
        margin-top: 6rem;
        margin-bottom: 4rem;
    }
    .footer{
        &__item{
            &-detail{
                color: $text_color-bold;
                padding-bottom: 2rem;
                font-weight: 600;
                transition: .2s;

                &:hover{
                    color: $primary_color;
                }
            }
        }
        &__cpright{
            padding-bottom: 4rem;
            hr{
                margin-top: 6rem;
                margin-bottom: 2rem;
            }
            &-content{
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
            }
        }
    }
}